.langing-page{
  background:white url('https://i.pinimg.com/originals/4b/3c/d9/4b3cd9e4df33cd35a9976a484c14fa2d.jpg') no-repeat scroll center ;
  background-size:cover ;
  height:92.5vh;
}
.wrapper{
  background-color: rgba( 0,0,0,0.2);
  height: 100%;
}




