<div class="langing-page text-success">
  <div class="wrapper">
    <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
      <h3 class="display-4 "> BigMarket <i class="fa fa-shopping-cart"></i></h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit perspiciatis veritatis rem ratione ipsa corporis eveniet. Similique ipsam blanditiis cupiditate, quam quibusdam laboriosam? Alias iure perferendis corporis dolores ipsa!</p>
    </div>
  </div>
</div>





